################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LogParse
/LogParse/bin/Debug/netcoreapp3.0
/LogParse/obj/Debug/netcoreapp3.0
